:root {
    --primary-color: greenyellow;
    --primary-color-alpha: rgba(172, 255, 47, 0.5);
    --primary-background: #FFF;
    --secondary-color: #000;
    --third-color: green;

    --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

body.inverted-colors {
    --primary-color: purple;
    --primary-color-alpha: rgba(128, 0, 128, 0.50);
    --primary-background: #000;
    --secondary-color: #FFF;
    --third-color: rebeccapurple;
}

/* https://gist.github.com/BrendonKoz/b1df234fe3ee388b402cd8e98f7eedbd */
body.inverted-colors .map-tiles {
    filter: var(--map-tiles-filter, none);
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--secondary-color);
}

body {
    background-color: var(--primary-color-alpha);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#map {
    height: 100vh;
    width: 100vw;
}

.search {
    width: 100%;
    max-width: 20rem;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem;
    z-index: 1010;
}

.search fieldset {
    position: relative;
    display: block;
    border: none;
    padding: 1rem;
    margin: 0 0 2rem;
    background: var(--primary-background);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 5%);
    border-radius: 10px;
}

.search label {
    position: relative;
    display: block;
    margin: 0 0 1rem;
}

.search label[for="datetime"] {
    font-size: 12px;
}

.search label[for="datetime"] .journey__date {
    font-weight: 700;
}

.search input {
    width: 100%;
    display: block;
    height: 2rem;
    padding: .5rem 1rem;
    display: block;
    border-radius: 0;
    color: var(--secondary-color);
    background: rgb(198 198 198 / 25%);
    border: 1px solid var(--secondary-color);
    font-size: 12px;
    outline: none;
    border-radius: 5px;
}

.search input:focus {
    border-color: var(--primary-color);
}

.search button {
    width: 100%;
    height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    appearance: none;
    outline: none;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    background-color: var(--primary-background);
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 10px;
    transition: color .3s ease, background-color .3s ease;
    will-change: color, background-color;
    cursor: pointer;
}

.search button.between {
    /* border: none; */
    background-color: var(--primary-color);

}

.search button:not(:last-child) {
    margin: 0 0 1rem;
}

.search button:hover {
    color: var(--primary-background);
    background-color: var(--secondary-color);
}

.search button.between:hover {
    color: var(--primary-color);
}

.search button.journey__invert {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 25px;
    right: 10px;
    z-index: 10;
    border-radius: 50%;
    font-size: 16px;
}

.journey__search {
    position: relative;
}

.autocomplete__form .autocomplete__results {
    position: absolute;
    top: 2rem;
    left: 0;
    z-index: 100;
    background: var(--primary-background);
    padding: 0;
    list-style-type: none;
    width: 100%;
    box-shadow: 0px 0px 10px rgb(198 198 198 / 50%);
    border-radius: 10px;
    overflow: hidden;
}

.autocomplete__form .autocomplete__results li {
    padding: 10px 20px;
    font-size: 12px;
    line-height: 1;
    transition: .3s ease all;
    cursor: pointer;
}

.autocomplete__form .autocomplete__results li:hover {
    background: rebeccapurple;
    color: var(--primary-background);
}

.autocomplete__form .autocomplete__results li.not-result {
    pointer-events: none;
}

.journeys__list__holder {
    width: 100%;
    height: 100vh;
    max-width: 25vw;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 2vw;
    margin: 0;
    list-style-type: none;
    z-index: 1000;
    background-color: transparent;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 5%);
    transform: translateX(23vw);
    transition: transform .3s ease-in-out;
}

.journeys__list__holder.open {
    background-color: var(--primary-background);
    transform: translateX(0vw);
}

.journeys__list__toggle {
    width: 2vw;
    height: 4vw;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    appearance: none;
    background: none;
    border: none;
    outline: none;
    color: var(--secondary-color);
    background-color: var(--primary-background);
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.journeys__list ul,
.journeys__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.journey {
    position: relative;
    display: block;
    padding: 1rem;
    margin: 0 0 1rem;
    border: 1px solid rgb(198 198 198 / 50%);
    color: var(--secondary-color);
    background-color: var(--primary-background);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 5%);
    border-radius: 5px;
}

.journey.active {
    /* color: var(--primary-background);
            background-color: var(--secondary-color); */
    border-color: var(--secondary-color);
    /* box-shadow: 0px 0px 10px rgb(0 0 0 / 25%); */
}

.journey strong,
.journey small {
    display: block;
}

.journey small {}

.journey .best {
    position: absolute;
    padding: .25rem .5rem;
    top: .25rem;
    right: .25rem;
    background: var(--secondary-color);
    color: var(--primary-background);
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 2px;
}

.journey>ul {
    margin-top: 1rem;
}

.journey li {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    padding: 5px 0;
    margin: 0 0 .25rem;
}


.journey li .decoration {
    width: 8px;
    flex: 0 0 8px;
    height: auto;
    position: relative;
    display: block;
    background: var(--primary-color);
    align-self: stretch;

}

.journey li .decoration::before,
.journey li .decoration::after {
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    content: '';
    left: 50%;
    background-color: var(--primary-color);
    border: 3px solid var(--third-color);
    border-radius: 50%;
}

.journey li .decoration::before {
    top: 0;
    transform: translateX(-50%) translateY(-50%);
}

.journey li .decoration::after {
    bottom: 0;
    transform: translateX(-50%) translateY(50%);
}

.journey li:first-child .decoration {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.journey li:last-child .decoration {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.journey li.waiting .decoration {
    background-color: brown;
}

.journey li.waiting .decoration::before,
.journey li.waiting .decoration::after {
    background-color: brown;
    border: 3px solid rgb(99, 28, 28);
}

.journey li.transfer .decoration {
    background-color: var(--third-color);
}

.journey li .transfer,
.journey li .times,
.journey li .places {
    padding: 0 .5rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.journey li .times {
    flex: 0 0 20%;
}

.journey li .transfer,
.journey li .places {
    flex: 0 0 calc(100% - 20% - 8px);
    font-size: 12px;
}

.journey li .transfer {
    justify-content: center;
}

.journey li .times .startDate,
.journey li .times .endDate {
    font-size: 14px;
    font-weight: 700;
}

.journey li .times .duration {
    font-size: 12px;
}

.journey__title {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: .5rem;
    align-items: center;
    margin: 1rem 0;
    cursor: pointer;
}

.journey__title time {
    grid-column: 1 / 2;
    font-weight: 700;
    /* grid-row: 1 / 2; */
}

.journey__title strong {
    grid-column: 2 / 6;
    font-weight: 400;
    font-size: 12px;
    /* grid-row: 1 / 2; */
}

.journey__other-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    font-size: 12px;
}

.journey__sections {
    display: none;
}

.journey.open .journey__sections {
    display: block;
}

.loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1020;
    background-color: var(--primary-color-alpha);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10vw;
    display: none;
}

.loader.active {
    display: block;
}

.color__toggle {
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    left: 50px;
    z-index: 1010;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    font-size: 40px;
    cursor: pointer;
}

.journey__traveler_types {}

.journey__traveler_types label {
    margin: 0 0 .5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
}

.journey__traveler_types input {
    height: auto;
    width: auto;
    margin: 0 .5rem 0 0;
    padding: 0;
}

.leaflet-tooltip {
    color: var(--secondary-color);
    background-color: var(--primary-background);
    border: none;
}

.leaflet-tooltip::before {
    display: none;
}

.journey__no-result {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin: 1rem 0;
}

.journey__advanced:not(.open) {
    display: none;
}

@media screen and (max-width: 64em) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 48em) {
    html {
        font-size: 12px;
    }

    html,
    body {
        height: auto;
    }

    #map {
        height: 50vh;
    }

    .journeys__list__holder,
    .search {
        max-width: 100%;
        height: auto;
        max-height: none;
        position: static;
        background-color: var(--primary-background);
        transform: none;
    }

    .journeys__list__holder,
    .search fieldset {
        padding: 1rem;
        box-shadow: none;
    }

    .journeys__list__toggle {
        display: none;
    }

    .color__toggle {
        position: fixed;
        bottom: 0;
        right: 0;
        left: auto;
    }

    .search input,
    .search button {
        height: 3rem;
    }

    .search fieldset {
        margin: 0 0;
        padding: 0 1rem;
    }

    .loader {
        background-size: 25vw;
    }
}